In [2]:
import pandas as pd

/var/folders/sp/8spqkbd52t91vd__pkq4vgvw0000gq/T/ipykernel_62840/217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [38]:
dt = pd.read_csv('messy_population_data.csv')

In [5]:
dt.describe()

                 age         gender           year    population
count  119495.000000  119811.000000  119516.000000  1.193780e+05
mean       50.007038       1.578578    2025.068049  1.112983e+08
std        29.154144       0.590559      43.584951  1.265205e+09
min         0.000000       1.000000    1950.000000  2.100000e+01
25%        25.000000       1.000000    1987.000000  2.316023e+06
50%        50.000000       2.000000    2025.000000  7.145754e+06
75%        75.000000       2.000000    2063.000000  1.466388e+07
max       100.000000       3.000000    2119.000000  3.293043e+10

In [7]:
#Looking for missing values 
dt.isnull().sum()

income_groups    6306
age              6223
gender           5907
year             6202
population       6340
dtype: int64

In [12]:
#Looking for duplicated values 
dt.duplicated().sum()
dt_duplicated = dt.duplicated()
dt[dt_duplicated]

              income_groups   age  gender    year  population
1254            high_income  11.0     1.0     NaN         NaN
7082            high_income   NaN     1.0  2086.0         NaN
9556            high_income  36.0     2.0     NaN         NaN
15820           high_income  55.0     1.0     NaN         NaN
18629           high_income   NaN     2.0     NaN         NaN
...                     ...   ...     ...     ...         ...
125661  upper_middle_income  85.0     1.0  1962.0    120531.0
125662  upper_middle_income  57.0     2.0  1960.0   4199195.0
125663           low_income   8.0     1.0  2098.0  17221330.0
125664                  NaN  99.0     1.0     NaN     10101.0
125665  upper_middle_income  80.0     1.0  2014.0   2887365.0

[2950 rows x 5 columns]

In [31]:
#Checking for outliers 
print(dt['population'].describe())
print(dt['age'].describe())
print(dt['year'].describe())

count        119378.00
mean      111298303.15
std      1265205486.84
min              21.00
25%         2316023.00
50%         7145753.50
75%        14663884.50
max     32930428000.00
Name: population, dtype: float64
count   119495.00
mean        50.01
std         29.15
min          0.00
25%         25.00
50%         50.00
75%         75.00
max        100.00
Name: age, dtype: float64
count   119516.00
mean      2025.07
std         43.58
min       1950.00
25%       1987.00
50%       2025.00
75%       2063.00
max       2119.00
Name: year, dtype: float64

In [39]:
#Checking data types: 
dt.dtypes

income_groups     object
age              float64
gender           float64
year             float64
population       float64
dtype: object

In [47]:
#Checking for categorical variables 

print(dt['income_groups'].unique())
print(dt['gender'].unique())

['high_income' nan 'high_income_typo' 'low_income' 'low_income_typo'
 'lower_middle_income' 'lower_middle_income_typo'
 'upper_middle_income_typo' 'upper_middle_income']
[ 1.  3. nan  2.]